body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.search-box {
    margin: 20px 0;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 15px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background: #38bdf8;
    cursor: pointer;
    font-weight: bold;
}

.movie-result {
    margin-top: 30px;
}

.movie-card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
}

.movie-card img {
    width: 200px;
    border-radius: 10px;
}
